/* Estilos resultados del formulario burble */
.results {
  background-color: transparent;
  background-image: linear-gradient(180deg, #1E5E66 0%, #1B3C65 100%);
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

}

@media (min-width: 768px) {
  .results {
    grid-template-columns: repeat(4, 1fr);
  }
}

.results-text {
  background-color: #6DA336;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 10px;
}

.results-category {
  padding-top: 0;
  color: white;
  margin: 10px;
}

/* Button "autodiagnostico" styles */

.button-container {
  text-align: center;
  margin-bottom: 20px;
}


.results-button {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #262c40;
}

.results-button::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.results-button:hover::before {
  width: 9em;
}


.results-text:hover {
  background-color: #12176B;
}


@media (min-width: 768px) {
  .results-category {
    margin: 20px;
  }
}

.results-category:hover {
  background-color: transparent;
  background-image: linear-gradient(180deg, #1E5E66 0%, #21508B 100%);
}


.restart-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restart {
  flex: none;

}