.first__section {
  background: linear-gradient(180deg, #f9fafa, #eaf5fe);
  padding: 0;
  margin-top: 60px;
}


.first__section--container {
  display: flex;
  gap: 20px;
}

.first_section--image {
  height: 520px;
}

.first_section--text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  width: 50%;
}

.first_section--text-container {
  width: 84%;
}


.first-text {
  padding-left: 10px;
  border-left: 2px solid #EF0074;
}

.first-text p {
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  color: #12186B;
}

.second-text {
  padding-left: 10px;
}

.second-text p {
  margin-top: 20px;
  color: #454854;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}