.second__section {
    width: 85%;
    margin: 0 auto;
}

/* .second__section--text {
    border-left: 1px solid red;
    width: 75%;
    padding-left: 10px;
    margin-bottom: 30px;
} */

.second__section--categorys {
    margin-top: 30px;
}