.header {
  background-color: #FAFAFA;
  padding: 28px 0 28px 0;
}

/* Contenedor logos y navbar */
.header-container {
  display: flex;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-image {
  height: 40px;
}